<header><h1>Books</h1></header>

<!--Makiing book list-->
<div class="booklist">
  <table>
    <!--Making table head-->
    <thead>
      <tr>
        <th>title</th>
        <th>body</th>
      </tr>
    </thead>

    <!--Making table content-->
    <tbody>
      <% @booklist.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
          <td><%= link_to 'Show', "/books/#{book.id}" %></td>
          <td><%= link_to 'Edit', "/books/#{book.id}/edit" %></td>
          <td><%= link_to 'Delete', "/books/#{book.id}", method: :delete, "data-confirm" => "Are you sure?" %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>

<!--Making new book-->
<div class="newBook">
  <div class=newBookHeader>
    <h3> New Book</h3>
  </div>

<%= form_with model: @newbook, method: :post do |f|%>
  <% if @newbook.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@newbook.errors.count, "error") %> prohibited this book from being saved:</h2>

        <ul>
          <% @newbook.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
    </div>

    <div class="field_error">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field_error">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>

  <% else %>
    <div class="field">
      <div class="title"><%= f.label :title %></div>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <div class="body"><%= f.label :body %></div>
      <%= f.text_area :body %>
    </div>
  <% end %>

    <div class="newBooksubmit"><%= f.submit 'Creat Book' %></div>
<% end %>
