<div class="show">
  <div class="flash">
    <% if flash[:notice]%>
      <%= flash[:notice] %>
    <% end %>
  </div>

    <div class="bookContent"><div class="content">Title:</div><%= @book_details.title %></div>
    <div class="bookContent"><div class="content">Body:</div><%= @book_details.body %></div>
    <div><%= link_to 'Edit', edit_book_path(@book_details) %> | <%= link_to 'Back', '/books' %></div>
</div>